
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.texto{
    font-family: "Marck Script", cursive;
    font-size: 110px;
}

a {
    text-decoration: none;

}
ul {
    list-style: none;
}
nav {
    max-width:  1120px;
    margin: auto;
    padding: 1.5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo {
    font-family: Teko;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}
.menu {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    color: rgb(114, 26, 45);
}
main {
    display: flex;
    flex-direction: column;
}
.principal{
    background:  url(/assets/064624847468350795204f7164b97be5.jpg);
   
    object-fit: cover;
    object-position: center;

    

}
.hero {
    
    max-width: 1120px;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
    padding: 0rem 2rem;
    margin: auto;

    overflow: clip;


}
.hero-conteudo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: "Montserrat", sans-serif;



}
.hero-conteudo button{
    height: 100px;
    font-size: 50px;
    border-radius:  13px;
    background-color:rgb(143, 143, 143);
    border-color:  rgba(0, 0, 0, 0.13);
    
}

.destaque {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;




}
.marrom {
    color: rgb(73, 63, 63);


}
.amarelo {
    color: rgb(114, 26, 45);

}
hr {
    border-color: rgb(114, 26, 45);

}
.hero-sub {
    color: rgb(114, 26, 45);
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}
h1 {
    font-family: Montserrat;
    font-size: 3.5rem;
    font-weight: 800;
}
.hero-imagens-conteiner {
    max-width: 45%;
    column-count: 4;
    column-gap: 1rem;
    margin: -1rem;
    


}

.hero-imagens-conteiner > figure > img {
    width: 100%;
    border-radius: 50%;
}
.botao-container {
    width: 100%;
    max-width: 1120px;
    
    margin: auto;
    transform: translate("0, -50%");

}
.roupas {
    display: flex;
    flex-direction: column;

    max-width: 100%;
    height: auto;
    

}
.roupas-cabeca {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 20px;
}
.roupas-titulo {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: rgb(180, 180, 52);

}
.roupas-subtitulo{
    color: rgb(0, 0, 0);
    font-family: inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 148%;
}

.roupas-card-container {
   
    
    
 
    


}
.cards{
    display: flex;
}
.roupas-card {
    
   
   padding: 2rem;
   
   display: flex;
   flex-direction: column; 
   gap: 2rem;
   
   margin-top: 10px;
   justify-content: space-between;
   align-items: center;
}

.card-cabeca {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;

}

.detalhes{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;


}
.title-roupa {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 400;
}
.roupa-avalia {
    color: rgb(0, 0, 0);
    font-size: 10px;
    font-weight: 500;
    padding: 20px;


}
.descri-roupa {
    color: rgb(14, 13, 12);
    font-size: 1rem;
    font-weight: 400;

}

.Roupa-autor {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;



}
.Roupa-autor > img {
    border-radius: 20rem;
    width: 1.5rem;

}

footer {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items:  center;
    gap: 0.5rem;
    background: rgb(68, 68, 68);


}
.copy-footer {
    color: bisque;
    font-size: 1rem;
    font-weight: 500;


}

.autor-footer{

    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;

}
.detalhes img{
    width: 400px;

}
.blog-box{
    max-width: 450px;
    
    background-color: #e3e8ec;
    border: 1px solid rgb(255, 244, 244);
    margin: 15px;
}
.blog-img{
    width: 100%;
    height: auto;

}
.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
}
.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-text span{
    color: #030303 ;
    font-size: 0.9rem;

}
.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #000000 ;
    margin: 20px;
}
.blog-text .blog-title:hover{
    color: 224a5e;
    transition: all ease 0.3s;
    
}
.blog-text p{
    color: #070606  ;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3-web;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
    
    
}
.blog-text a{
    color: #161b1b;
}
.blog-text a:hover{
    color:#2f3026  ;
    transition: all ease 0.3s;
}
.blog-container{
   width: 100%;
    display:flex;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: nowrap;
    overflow-x: auto;
    
    
    
}
.blog-container ::-webkit-scrollbar{
    width: 100%;
    
    
    
}