
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    
}

.texto{
    font-family: "Marck Script", cursive;
    font-size: 110px;
}

a {
    text-decoration: none;
    color: rgb(189, 62, 83);

}
ul {
    list-style: none;
}
nav {
    max-width:  1120px;
    margin: auto;
    padding: 1.5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo {
    font-family: Teko;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}
.menu {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    color: rgb(189, 62, 83);
}
main {
    display: flex;
    flex-direction: column;
}
.principal{
    background-image: url(/assets/DOA34852328_xl-1024x682.jpg);
    
   
    

    

}
.hero {
    
   
    height: 60vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    padding: 0rem 2rem;
    margin: auto;

    overflow: clip;


}
.hero-conteudo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: "Montserrat", sans-serif;



}
.hero-conteudo button{
    gap: 1rem;
    width: 300px;
    height: 200x;
    font-size: 35px;
    border-radius:  13px;
    background-color:rgb(255, 250, 250);
    border-color:  rgba(0, 0, 0, 0.13);
    text-decoration: none;
    color: #e3e8ec;
    
    
}

.destaque {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;




}
.marrom {
    color: rgb(73, 63, 63);


}
.amarelo {
    color: rgb(189, 62, 83);

}
hr {
    border-color: rgb(189, 62, 83);

}
.hero-sub {
    color: rgb(189, 62, 83);
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}
h1 {
    font-family: Montserrat;
    font-size: 3.5rem;
    font-weight: 800;
}
.hero-imagens-conteiner {
    max-width: 45%;
    column-count: 4;
    column-gap: 1rem;
    margin: -1rem;
    


}

.hero-imagens-conteiner > figure > img {
    width: 100%;
    border-radius: 50%;
}
.botao-container {
    width: 100%;
    max-width: 1120px;
    
    margin: auto;
    transform: translate("0, -50%");

}
.roupas {
    display: flex;
    flex-direction: column;

    max-width: 100%;
    height: auto;
    

}
.roupas-cabeca {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 20px;
}
.roupas-titulo {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: rgb(180, 180, 52);

}
.roupas-subtitulo{
    color: rgb(0, 0, 0);
    font-family: inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 148%;
}

.roupas-card-container {
   
    
    
 
    


}
.cards{
    display: flex;
}
.roupas-card {
    
   
   padding: 2rem;
   
   display: flex;
   flex-direction: column; 
   gap: 2rem;
   
   margin-top: 10px;
   justify-content: space-between;
   align-items: center;
}

.card-cabeca {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;

}

.detalhes{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;


}
.title-roupa {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 400;
}
.roupa-avalia {
    color: rgb(0, 0, 0);
    font-size: 10px;
    font-weight: 500;
    padding: 20px;


}
.descri-roupa {
    color: rgb(189, 62, 83);
    font-size: 1rem;
    font-weight: 400;

}

.Roupa-autor {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;



}
.Roupa-autor > img {
    border-radius: 20rem;
    width: 1.5rem;

}

footer {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items:  center;
    gap: 0.5rem;
    background: rgb(255, 253, 253);


}
.copy-footer {
    color: rgb(189, 62, 83);
    font-size: 1rem;
    font-weight: 500;


}

.autor-footer{

    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;

}
.detalhes img{
    width: 400px;

}
.blog-box{
    max-width: 450px;
    
    background-color: #e3e8ec;
    border: 1px solid rgb(255, 244, 244);
    margin: 15px;
}
.blog-img{
    width: 100%;
    height: auto;

}
.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
}
.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-text span{
    color: rgb(189, 62, 83);
    font-size: 0.9rem;

}
.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #000000 ;
    margin: 20px;
}
.blog-text .blog-title:hover{
    color: 224a5e;
    transition: all ease 0.3s;
    
}
.blog-text p{
    color: rgb(189, 62, 83) ;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3-web;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
    
    
}
.blog-text a{
    color: #161b1b;
}
.blog-text a:hover{
    color:#75756e  ;
    transition: all ease 0.3s;
}
.blog-container{
   width: 100%;
    display:flex;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: nowrap;
    overflow-x: auto;
    
    
    
}
.blog-container ::-webkit-scrollbar{
    width: 100%;
    
    
    
}
.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #e3e8ec;

}
.contatos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:  10px 45px;
    width: 500px;
    min-height:70vh;
    position: relative;
    
    
    
    

   
}
.formulario h2{
    font-size: 40px;
    margin: 2rem;
    color: rgb(189, 62, 83);
    
}
.formulario form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
form label{
    font-size: 17px;
    margin-bottom: 4px;

}
form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom:  20px;
    font-size: 15px;
    transition: all 0.5s;
    

}
form input:focus{
    border-radius: 16px;


}
form textarea{
    padding: 10px;
    outline: 0;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
    transition: all 0.5s;


}
form textarea:focus{
    border-radius: 16px;
  

}
form button{
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid;
    color: white;
    transition: all 1s;
    margin-bottom: 20px;
}
 form button:focus{
    border-radius: 16px;
    color: white;
    background-color: #2f3026;
 }  
 .main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #e3e8ec;
    flex-direction: column;
    font-family: "Marck Script";
 } 
 .text{
    font-size: 40px;
    color: rgb(189, 62, 83);
    margin-bottom: 30px;
 }
 .paragrafo{
    color: rgb(0, 0, 0);
    margin-bottom: 50px;

 }
 .btn{
    padding: 15px 55px;
    background: #ffffff;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    transition: all 0.5s;
 }
 .btn:hover{
    border-radius: 16px;
   
 }
 @media screen and  (max-width:768px){
    .contatos{
      
        
    }
    .texto{
        font-size: 80px;
    }
    .hero-sub {
        
        font-size: 18px;  
    }
    .hero-conteudo button{
        font-size: 25px;
        height: 50px;
    }
    .logo {
        
        font-size: 20px;
       
    }
    .menu {
        font-size: 15px;
    }
    .text{
        font-size: 25px;
    }
    .paragrafo{
        font-size: 15px;
    }
    .btn{
        font-size: 15px;
        
    }

 }

h3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px;
    font-size: 30px;
}

